.wrapper {
  /*width: 1536px;*/
  /*height: 2048px;*/
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 1fr;
}
.clock {
  grid-column: 1;
  grid-row: 1;
}
.clock2 {
  grid-column: 2;
  grid-row: 1;
}
.weather {
  grid-column: 2;
  grid-row: 2/4;
  background-color: rgba(28, 151, 151, 0.5);
}
.ambiance {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(90, 239, 87, 0.5);
}
.buses {
  grid-column: 2;
  grid-row: 4/6;
  background-color: rgba(220, 218, 68, 0.5);
}
.todo {
  grid-column: 2;
  grid-row: 6/8;
  background-color: rgba(191, 54, 54, 0.5);
}
