<div class="container p-3">
    {% for event in events %}
    <div class="row row-striped">
        <div class="col-2 text-right">
            {% if event.is_today %}
                <h4><span class="badge badge-success">{{ event.day }}</span></h4>
            {% else %}
                <h4><span class="badge badge-secondary">{{ event.day }}</span></h4>
            {% endif %}
            <p>{{ event.month }}</p>
        </div>
        <div class="col-10">
            <h7 class="text-uppercase"><strong>{{ event.name }}</strong></h7>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.weekday }}</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.strtimeslot }}</li>
                {% if event.location %}
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.location }}</li>
                {% endif %}
            </ul>
            <p>{{ event.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>