{% extends 'header.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {#        col1#}
        <div class="col-8">
            <div class="row align-items-center justify-content-center">
                <div class="col d-flex justify-content-end rounded p-3">
                    {% include 'clock.html' %}
                </div>
                <div class="col rounded p-3">
{#                    {% include 'clock2.html' %}#}
                </div>
            </div>
{#            <div class="row element rounded m-3" id="calendar">#}
{#                {% with events=events %}#}
{#                    {% include 'calendar.html' %}#}
{#                {% endwith %}#}
{#            </div>#}
            <div class="row element rounded m-3 p-3">
                {% include 'buses.html' %}
            </div>
        </div>

{#        col2#}
        <div class="col-4">
            <div class="row d-flex align-items-center justify-content-center rounded-top mt-3">
                <div id="weather" style="width: 100%;">
                    {% include 'weather.html' %}
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div id="weatherDetailed" style="width: 100%;">
                    {% include 'weather_detailed.html' %}
                </div>
            </div>
            <div id="homeTemperature" class="row" style="height: 120px; width: 100%">
            </div>
            <div id="homeHumidity" class="row" style="height: 120px; width: 100%">
            </div>
            <div id="homeAbsHumidity" class="row" style="height: 120px; width: 100%">
            </div>
            <div class="row d-flex align-items-center justify-content-center mt-3">
                {% include "todolist.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}